body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: auto;
    padding: 40px;
    line-height: 1.6;
}

h1 {
    font-size: 36px;
}

h2 {
    color: #555;
}

a {
    color: #007acc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
